# RewriteEngine On
# RewriteRule ^api/(.*)$ index.php [L]
RewriteEngine On

# Desactivar la redirección automática cuando la URL coincide con el nombre de un directorio
DirectorySlash Off

# No reescribir si la petición es a un archivo físico real (como imágenes, css, etc.)
RewriteCond %{REQUEST_FILENAME} !-f

# Redirigir absolutamente TODO hacia index.php (sin hacer redirección HTTP 301/302)
RewriteRule ^ index.php [QSA,L]