
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#eeeeee;
    font-family:'Poppins', sans-serif;
}

/* estructura principal */
.contenedor{
    min-height:100vh;

    display:grid;

    grid-template-rows:auto 1fr auto;
}

/* encabezado */
header{
    background:#4b79d8;

    padding:20px;

    display:flex;
    flex-direction:column;

    gap:15px;
}

img{
    width:120px;
}

/* botones */
.botones{
    display:flex;

    gap:10px;
}

.botones button{
    padding:10px;

    border:none;

    border-radius:20px;

    cursor:pointer;
}

/* botón azul */
.ambulancia{
    background:#2196f3;

    color:white;

    transition:0.3s;
}

/* hover = cuando pasás el mouse */
.ambulancia:hover{
    background:#1565c0;
}

/* contenido */
main{
    width:95%;
    max-width:800px;

    margin:20px auto;

    display:grid;

    gap:20px;
}

/* cajas grises */
section{
    background:#d9d9d9;

    padding:20px;

    border-radius:15px;

    display:flex;
    flex-direction:column;

    gap:15px;
}

/* formulario */
form{
    display:flex;
    flex-direction:column;

    gap:10px;
}

input,
textarea,
select{
    padding:10px;

    border:none;

    background:#b5b5b5;
}

/* tamaño del textarea */
textarea{
    height:100px;

    resize:none;
}

/* botón subir */
.subir{
    background:#2196f3;

    color:white;

    border:none;

    padding:10px;

    border-radius:10px;

    cursor:pointer;
}

/* tarjeta negra */
.card{
    background:black;

    color:white;

    padding:15px;

    border-radius:15px;

    display:flex;
    flex-direction:column;

    gap:10px;
}

/* etiquetas */
.etiquetas{
    display:flex;

    gap:10px;
}

.azul,
.verde{
    padding:5px 10px;

    border-radius:10px;

    font-size:12px;
}

.azul{
    background:#2d7df6;
}

.verde{
    background:#3dbb5d;
}

/* pie */
footer{
    background:#4b79d8;

    padding:15px;

    text-align:center;
}