* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafc;
    color: #1e293b;
}

.header {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    background-color: #bfdbfe;
    padding: 30px 40px;
    min-height: 220px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.logo {
    width: 220px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo h1 {
    font-size: 52px;
    font-weight: 700;
}

.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    flex:1;
}

.sidebar {
    background: white;
    border-right: 1px solid #e2e8f0;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    height: fit-content;
}

.menu {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    padding: 14px 18px;
    border-radius: 12px;
    transition: .2s;
    font-weight: 500;
}

.menu-item a {
    text-decoration: none;
    color: #000000;
    display: block;
}

.menu-item:hover {
    background-color: #dbeafe;
    cursor: pointer;
}

.menu-item:hover a {
    color: #2563eb;
}

.menu-item:active {
    background-color: #2563eb;
}

.menu-item:active a {
    color: white;
}

.main-container {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #000000;
}

.h3 {
    font-size: 16px;
    font-weight: 500;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.btn {
    background-color: #0055ff;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color .2s;
}

.btn:hover {
    background-color: #003ecc;
}

.btn.active {
    background-color: #003ecc;
    outline: 2px solid #001f66;
}

.pess {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pes1 {
    background-color: #d9d9d9;
    width: 350px;
    min-height: 250px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pes2 {
    background-color: #d9d9d9;
    width: 350px;
    min-height: 250px;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer {
    background-color: #bfdbfe;
    border-top: 1px solid #e2e8f0;
    padding: 20px;
    text-align: center;
    color: #1e293b;
}