* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #eeeeee;
    font-family: 'Poppins', sans-serif;
}

/* estructura principal */
.layout {
    display: grid;
    grid-template-columns: 200px 1fr;
    /*fr es una unidad de grid fr=fraccion*/
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.header {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: center;
    background-color: #bfdbfe;
    padding: 30px 40px;
    min-height: 220px;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 220px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    color: rgb(0, 0, 0);
}

.main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    padding: 40px;
}

.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    min-height: 100vh;
}

.sidebar {
    background: white;
    border-right: 1px solid #e2e8f0;
    box-shadow: 2px 0 10px rgba(0,0,0,.05);
    position: sticky;
    top: 0;
    height: 100vh;
}

.menu {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.menu-item {
    padding: 14px 18px;
    border-radius: 12px;
    transition: .2s;
    font-weight: 500;
}

.menu-item:hover {
    background-color: #dbeafe;
    color: #2563eb;
    cursor: pointer;
}

.menu-item:active {
    background-color: #2563eb;
    color: white;
}


.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.titulo h1 {
    font-size: 52px;
    font-weight: 700;
}

/* contenido */
main {
    width: 95%;
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    gap: 20px;
}

/* cajas grises */
section {
    background: #d9d9d9;
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input,
textarea,
select {
    padding: 10px;
    border: none;
    background: #b5b5b5;
}

/* tamaño del textarea */
textarea {
    height: 100px;
    resize: none;
}

/* botón subir */
.subir {
    background: #2196f3;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* tarjeta negra */
.card {
    background: black;
    color: white;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* etiquetas */
.etiquetas {
    display: flex;
    gap: 10px;
}

.azul,
.verde {
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
}

.azul {
    background: #2d7df6;
}

.verde {
    background: #3dbb5d;
}

/* pie */
.footer {
    background: white;
    border-top: 1px solid #e2e8f0;
    padding: 20px;
    text-align: center;
    color: #64748b;
}